<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header %>

    <script type="text/javascript" src="/js/cart.js"></script>

    <script type="text/javascript">
        var content_ids = ['<%= product.id %>'];
        var value = <%= product.price %>;
        var currency = '<%= product.currency %>';

        //TODO - Dynamic Ads, Exercise 4a, Implement firing of ViewContent
        fbq('track', 'ViewContent', {
            content_type: 'product',
            content_ids: content_ids,
            value: value,
            currency: currency
        })
    </script> 
</head>

<body>
    <% include partials/menubar.ejs %>  

    <!-- Page Content -->
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3><%= product.name %></h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <a href="/product?id=<%= product.id %>"><img src=<%= product.image %> class="img-rounded" alt=""></a>
                <div class="caption">
                    <h3><%= product.name %></h3>
                    <h3 class="bg-info">$<%= product.price %> <%= product.currency %></h3>
                    <p><%= product.description %></p>
                        <script type="text/javascript">
                            // stores the product before passing in to cart.add() due to double quotes in onclick
                            var product_<%= product.id %> = <%- JSON.stringify(product) %>                            
                        </script>                    
                    <button class="btn btn-primary btn-lg btn-block" 
                        onclick="cart.add(product_<%= product.id %>, 
                            function(json) { alert('<%= product.name %> added to cart')});">
                        Add To Cart
                    </button>
                </div>
            </div>
            </div>            
        </div>
        <!-- /.row -->

        <a href="/" class="btn btn-lg btn-info">Return to Swag Store</a>
        <hr>
        <% include partials/footer.ejs %>
    </div>
</body>

</html>
